# ignore metadata and output
output_businesses/
output_categories/
yelp_data/

# Ignore everything inside data_processing/
data_processing/*

# But explicitly track all .ipynb files inside data_processing/
!data_processing/**/*.ipynb

*.log
*.json

.ipynb_checkpoints/